*{
  margin:0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}

.landing-page::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  opacity: 0.7;
  animation: anim 25s linear infinite;
}

@keyframes anim{
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

.page-content{
  position: absolute;
  top: 40%;
  left: 25%;
  transition: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;


}

.page-content h1{
  color:#cd6133;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.page-content h1:hover{
    color: #f7f1e3;
    /* background:#cd6133; */
    cursor: pointer;
    
}

.page-content p{
  color:#f7f1e3;
  margin-bottom: 20px;

}

.page-content a{
  display:inline-block;
  text-decoration: none;
  color: #cd6133;
  border: 2px solid #cd6133;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}

.page-content a:hover{
  color: #f7f1e3;
  background:#cd6133;
}